
.swiper-container
{
  margin-top: 100px;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide
{
  background-color: #fff;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
}
.swiper-slide .swiper-image
{
  width: 100%;
  height: 320px;
  overflow: hidden;
} 
.swiper-slide .swiper-image img
{
  width: 100%;
}
.swiper-slide .swiper-description
{
  width: 300px;
  height: 80px; 
}
.swiper-slide .swiper-description img
{
  width: 100%;
  height: 100%;
  margin-right: 30px;
  padding: 0;
  font-size: 50px;
  background-color: dimgray;
  color: gold;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
}
