<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inscription</title>
    <script src="../js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../css/sweetalert2.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/icomoon/style.css">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/fancybox.min.css">

    <link rel="stylesheet" href="../css/style.css">
    
  </head>
  <body>
  

  <div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
    <div class="site-logo">
      <img src="../catalogue/logo.png">
    </div>
    
    <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

    <div class="main-menu">
      <ul class="js-clone-nav">
        <li><a href="../index.html">Acceuil</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="recru.html">Recrutement</a></li>
        <li class="active"><a href="contact.html">Inscription</a></li>
        <li><a href="loginform.html">Login</a></li>
        <li><a href="bio.html">Bio</a></li>
      </ul>
      <ul class="social js-clone-nav">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
    </div>
  </header> 
  <main class="main-content">
    <div class="container-fluid photos">
      <div class="row justify-content-center">
        
        <div class="col-md-6 pt-4"  data-aos="fade-up">
          <h2 class="text-white mb-4" style="margin-top: 50px;">Inscription</h2>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">

                  

                  <form action="" method="POST" style="margin-top: 70px;">
                    
                    

                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-white" for="nomi">Nom</label>
                        <input type="text" id="nomi" class="form-control" name="nom" pattern="[A-Za-z]{1,}" required/>
                      </div>
                      <div class="col-md-6">
                        <label class="text-white" for="prenomi">Prénom</label>
                        <input type="text" id="prenomi" class="form-control" name="prenom" pattern="[A-Za-z]{1,}" required/>
                      </div>
                    </div>

                    <div class="row form-group">
                      <div class="col-md-12">
                        <label class="text-white" for="emaili">Email</label> 
                        <input type="email" id="emaili" class="form-control" name="email" required/>
                      </div>
                    </div>
                    <div class="row form-group">
                      
                      <div class="col-md-12">
                        <label class="text-white" for="numeroi">Numero</label> 
                        <input type="text" id="numeroi" class="form-control" name="numero" pattern= "[0-9]{1,8}" required/>
                      </div>
                    </div>


                    <div class="row form-group">
                      
                      <div class="col-md-12">
                        <label class="text-white" for="mdpi">Mot de passe</label> 
                        <input type="password" id="mdpi" class="form-control" name="mdp" required/>
                      </div>
                    </div>


                    <div class="row form-group">
                      
                      <div class="col-md-12">
                        <label class="text-white" for="cmdpi">Comfirmer Mot de passe</label> 
                        <input type="password" id="cmdpi" class="form-control" name="cmdp" required/>
                      </div>
                    </div>

                    

                    <div class="row form-group">
                      <div class="col-md-12">
                        <input type="button" value="S'inscrire" id="insbout" name="ins" class="btn btn-md text-white" style="background: #947047;">
                      </div>
                    </div>

        
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>

      
    </div>
  </main>

</div> <!-- .site-wrap -->

  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../js/jquery-ui.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/jquery.stellar.min.js"></script>
  <script src="../js/jquery.countdown.min.js"></script>
  <script src="../js/jquery.magnific-popup.min.js"></script>
  <script src="../js/bootstrap-datepicker.min.js"></script>
  <script src="../js/aos.js"></script>

  <script src="../js/jquery.fancybox.min.js"></script>

  <script src="../js/main.js"></script>
    
  </body>
</html>
<script type="text/javascript">
       function empty()
       {
        Swal.fire(
        'error',
        'Veuillez Remplir les champs',
        'error'
       )


       }


    </script>
<script type="text/javascript">
     $("#insbout").on('click',function(){
     var nome=$("#nomi").val();
     var prenome=$("#prenomi").val();
     var numeroe=$("#numeroi").val();
     var emaile =$("#emaili").val();
     var password =$("#mdpi").val(); 
     var password2 =$("#cmdpi").val();
     /*
     */
     if(nome =='' || prenome =='' || numeroe =='' || emaile =='' || password  =='' || password2 =='')
      {
        empty();
      }
      else if(numeroe.length < 8 || numeroe.length >20 )
      {
      alert("Votre numero est invalide");

      }
      else if(emaile.indexOf('@')<=0 || emaile.length <10)
      {

      alert("Votre Email n'est pas valide");

      }
      else if(password.length < 6)
      {
      alert("Votre mot de passe est trés court ..Au moins 6 caractères");
      }
      else if(password.length > 20)
      {
      alert("Votre mot de passe est trés long");
      }
      else if(nome.length < 1)
      {
       alert("votre nom est trés court");
      }
      else if(nome.length > 15)
      {
       alert("votre nom est trés long");
      }
      else if(prenome.length < 1)
      {
       alert("votre prenom est trés court");
      }
      else if(prenome.length > 15)
      {
       alert("votre prenom est trés long");
      }
      else if(password!=password2)
      {
       alert("La confirmation de mot de passe n'est pas valide");      
      }
      else
     {$.ajax(
           {
             url: 'Ajouterclient.php',
             method: 'POST',
             data :{ Inscrip: 1,
                     nom: nome,
                     prenom: prenome,
                     numero: numeroe,
                     email: emaile,
                     mdp: password,
                     cmdp: password2
                   },
            success: function (response){
             if(response.indexOf('success00')>=0)
               { SuccessIns();
                 
                
                 
               }
             if(response.indexOf('eror')>=0)
               Error();
             
            },  
           }
        );}
  });

    </script>
    <script type="text/javascript">
      function SuccessIns(){

        Swal.fire(
       'Bienvenue!',
       'Votre Inscription est validé..passez au log-in',
       'success'
        )
      
      }
    </script>
    <script type="text/javascript">
      function Error(){

        Swal.fire(
        'error',
        'Vérifiez vos Coordonnées!',
        'error'
   )
      }
    </script>